* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
}
.image {
    margin-top: -80px;
    margin-left: -10px;
}

.image img {

    border-radius: 50%;
    background-color: #fff;
}
.container {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 25px;
    background: #212121;
    backdrop-filter: blur(20px);
    color: #fff;
} 
.name {
    display: flex;
    flex-direction: column;
}

.country {
    display: flex;
    flex-direction: column;
}

.age {
    display: flex;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
}

.time {
    display: flex;
    flex-direction: column;
}

.record {
    margin-top: 50px;
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info {
    margin-top: -120px;
    margin-left: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.data {
    margin-left: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.buttons{
    margin-top: -200px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.buttons button {
    height: 200%;
    width: 20%;
    outline: none;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.buttons button:hover {
    background: #929292;
    color: #333;
}

.rank {
    margin-top: 50px;
    margin-left: 275px;
    display: flex;
    flex-direction: column;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('battle.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}