* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;

} 

.container h2 {
    text-align: center;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    opacity: 0.8;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('battle.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
}

.btn {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.container .login-link {
    text-align: center;
    margin-top: 10px;
}
.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}
